
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
/.idea/php.xml
/.idea/symfony2.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/site4.loc.iml
/.idea/vcs.xml
###< symfony/framework-bundle ###
